@import "../variables/variables";

$redes:(
    color: $blue,
    centro: $alinear-centro,
    fSize: $size,
    ancho: 16px,
);

div{
    background-color: maps-get($redes, color);
    width: map-get($redes, ancho);
}